<!-- card section -->
<div class="flex justify-center mt-5 p-10">
    <h2 class="text-3xl text-gray-500 mb-2">Miami Beach Properties</h2>
</div>
      <div class="grid p-10 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
        <% @beach_flats.each do |flat| %>
        <div class="rounded overflow-hidden shadow-lg">
          <img class="w-full" src="images/home1.jpg" alt="">
          <div class="px-6 pt-4">
            <div class="font-bold text-xl mb-2"><%= flat.title %></div>
            <p class="text-gray-700"><%= flat.description %></p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span class="inline-block text-green-300 font-bold text-sm px-3 py-1 mb-2 mr-2">$30,000,000</span>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">10 Beds</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">8.5 Baths</span>
          </div>
          <div class="px-6 pt-4 pb-10">
            <button class="inline-block bg-green-500 rounded-full px-4 py-1 font-bold text-white mr-2 mb-2">
                    <%= link_to 'View Property',flat_path(flat)%></button>
          </div>
        </div>
        <% end %>
      </div>
        <%# <div class="rounded overflow-hidden shadow-lg">
          <img class="w-full" src="images/home2.jpg" alt="">
          <div class="px-6 pt-4">
            <div class="font-bold text-xl mb-2">Cocoplum Compound</div>
            <p class="text-gray-700">Located on the exclusive gated island community in the middle of Biscayne
              Bay, this beautiful villa is one you don't want to miss.
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span class="inline-block text-green-300 font-bold text-sm px-3 py-1 mb-2 mr-2">$25,000,000</span>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">8 Beds</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">7 Baths</span>
          </div>
          <div class="px-6 pt-4 pb-10">
            <button class="inline-block bg-green-500 rounded-full px-4 py-1 font-bold text-white mr-2 mb-2">View Property</button>
          </div>
        </div>
        <div class="rounded overflow-hidden shadow-lg">
          <img class="w-full" src="images/home3.jpg" alt="">
          <div class="px-6 pt-4">
            <div class="font-bold text-xl mb-2">Jeronimo Drive Estate</div>
            <p class="text-gray-700">Located on the exclusive gated island community in the middle of Biscayne
              Bay, this beautiful villa is one you don't want to miss.
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span class="inline-block text-green-300 font-bold text-sm px-3 py-1 mb-2 mr-2">$19,500,000</span>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">7 Beds</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">6 Baths</span>
          </div>
          <div class="px-6 pt-4 pb-10">
            <button class="inline-block bg-green-500 rounded-full px-4 py-1 font-bold text-white mr-2 mb-2">View Property</button>
          </div>
        </div> %>
      </div>
      <!-- card section -->
