<form action=example-server.com>
      <fieldset>
        <legend>New Flat</legend>
        <div class="form-control">
          <label for="name">Flats info</label>
          <input type="title" id="ttile" placeholder="Enter the flat title" required />
        </div>

        <div class="form-control">
          <label for="adress">Adress</label>
          <input
            type="adress"
            id="adress"
            placeholder="Enter the flat adress"
            required
          />
        </div>

        <div class="form-control">
          <label for="dates">Dates</label>
          <input
            type="date"
            id="dates"
            placeholder="Enter the flat available dates"
            required
          />
        </div>

        <div class="form-control">
          <label for="Description">Description</label>
          <textarea
            id="Description"
            cols="30"
            rows="10"
            placeholder="Enter the flats description"
            required
          ></textarea>
        </div>
        <input type="submit" value="Send" class="submit-btn" />
      </fieldset>
</form>
