<footer>
  <div class="myfooter" style="padding:100px; background: ghostwhite; font-size:16px; display:relative; left:600px; font-size:16px; color:gray;">
    <div class="myfooter-links" style="font-size:16px; color:gray; margin-left:650px;">
      <a class="symbol link" href="#"><i class="fab fa-github" style=" left:600px; font-size:16px; color:gray; text-align:center; justify-content:center;"></i></a>
      <a class="symbol link" href="#"><i class="fab fa-instagram" style=" left:600px; font-size:16px; color:gray;"></i></a>
      <a class="symbol link" href="#"><i class="fab fa-facebook" style=" left:600px; font-size:16px; color:gray;"></i></a>
      <a href="#"><i class="fab fa-twitter" style=" left:600px; font-size:16px; color:gray;"></i></a>
      <a href="#"><i class="fab fa-linkedin" style=" left:600px; font-size:16px; color:gray;"></i></a>
    </div>
    <div style="margin-left:650px;">
      made with <i class="fas fa-heart" style="display:absolute; left:200px; font-size:16px;"></i> by Team Freedom. <br>
      Any illegal reproduction of this content will result in immediate legal action <i class="fad fa-tombstone"> </i>
    </div>
  </div>

</footer>
