<!-- The main picture -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1499796683658-b659bc751db1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80); height:80vh; background-position:center;">
  <div class="changedcontainer">
    <h1 style="color:white; padding-top:30px; margin-left:15px;">Our app brings <strong>local flats</strong> to <strong>travelers and cool people</strong></h1>
    <p style="color:white; font-size:19px; padding-top:30px; margin-left:50px;">Change your life by taking part in a local experience</p>
    <p style="color:white; font-size:19px; padding-top:30px; padding-bottom:30px; margin-left:50px;">Start Looking for flats now</p>
    <%= link_to "Start Searching by City Name", flats_path, class:"btn btn-light border-radius:50px; margin-left:50px;"%>

    <!-- f.input :foobar, :as => :string -->


  </div>
</div>

<!-- ends here -->
