

<!-- The Nav Bar ends -->

<!-- The Search bar in the middle of page -->
<a class="btn btn-secondary" href="">Book now</a>



<!-- The main picture -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551927411-95e412943b58?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1498&q=80); height:80vh; background-position:center; background-size:cover;">
  <div class="container" style="display:relative;">
    <h1 style="color:white; d:flex; margin-top:10px;">Our app brings <strong>local flats</strong> to <strong>travelers and cool people</strong></h1>
    <p style="color:white; margin-top:200px;">Change your life by taking part in a local experience</p> <br>
    <p style="color:white;">Start Looking for flats now</p>
  </div>
</div>

<!-- ends here -->
