<!-- The main picture -->

  <!-- Site Banner -->
  <main class="mt-10 px-4 md:mt-16">
    <div class="sm:text-center">
      <h1 class="tracking-tight font-extrabold text-4xl sm:text-5xl md:text-6xl">
          <span class="block">Miami Luxury Homes</span>
          <span class="block text-green-500">Find Your Dream Home</span>
      </h1>
      <p class="mt-3 text-gray-500 md:text-xl md:mt-5 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto">
        At Miami Luxury Homes, we ensure that ur clients get the best properties at any budget. Luxury is our priority.
        Pick and choose from the most luxurious homes Miami has to offer.</p>
      <div class="mt-5 sm:mt-8 sm:flex sm:justify-center">
        <div class="md:m-2">
          <a class="flex justify-center rounded-md bg-green-500 text-white px-8 py-3" href="">View homes</a>
        </div>
        <div class="md:m-2">
          <a class="flex justify-center rounded-md bg-green-100 text-green-700 px-8 py-3" href="">Explore Miami's Neighborhoods</a>
        </div>
      </div>
    </div>
  </main>
  <!-- Site Banner -->
  <div class="flex justify-center mt-5 p-10">
    <h2 class="text-3xl text-gray-500 mb-2">Recent Properties</h2>
  </div>

  <!-- card section -->
  <div class="grid p-10 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="app/assets/images/home1.jpg" alt="">
      <div class="px-6 pt-4">
        <div class="font-bold text-xl mb-2">Sunset Island Villa</div>
        <p class="text-gray-700">Located on the exclusive gated island community in the middle of Biscayne
          Bay, this beautiful villa is one you don't want to miss.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block text-green-300 font-bold text-sm px-3 py-1 mb-2 mr-2">$30,000,000</span>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">10 Beds</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">8.5 Baths</span>
      </div>
      <div class="px-6 pt-4 pb-10">
        <button class="inline-block bg-green-500 rounded-full px-4 py-1 font-bold text-white mr-2 mb-2">View Property</button>
      </div>
    </div>
    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="app/assets/images/home2.jpg" alt="">
      <div class="px-6 pt-4">
        <div class="font-bold text-xl mb-2">Cocoplum Compound</div>
        <p class="text-gray-700">Located on the exclusive gated island community in the middle of Biscayne
          Bay, this beautiful villa is one you don't want to miss.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block text-green-300 font-bold text-sm px-3 py-1 mb-2 mr-2">$25,000,000</span>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">8 Beds</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">7 Baths</span>
      </div>
      <div class="px-6 pt-4 pb-10">
        <button class="inline-block bg-green-500 rounded-full px-4 py-1 font-bold text-white mr-2 mb-2">View Property</button>
      </div>
    </div>
    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="app/assets/images/home3.jpg" alt="">
      <div class="px-6 pt-4">
        <div class="font-bold text-xl mb-2">Jeronimo Drive Estate</div>
        <p class="text-gray-700">Located on the exclusive gated island community in the middle of Biscayne
          Bay, this beautiful villa is one you don't want to miss.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block text-green-300 font-bold text-sm px-3 py-1 mb-2 mr-2">$19,500,000</span>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">7 Beds</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">6 Baths</span>
      </div>
      <div class="px-6 pt-4 pb-10">
        <button class="inline-block bg-green-500 rounded-full px-4 py-1 font-bold text-white mr-2 mb-2">View Property</button>
      </div>
    </div>
  </div>
  <!-- card section -->
  <!-- Second Banner -->
  <div class="py-20 h-screen"
      style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('images/luxury.jpg')">
      <div class="container mx-auto px-6 mt-40">
        <h2 class="text-4xl font-bold text-white mb-2">Experience Luxury Like Never Before</h2>
        <h3 class="text-2xl mb-8 text-gray-200">See what the Magic City has to offer.</h3>
        <button class="text-white shadow-lg font-bold uppercase border-2 px-8 py-4 tracking-wider">
          Explore Miami
        </button>
      </div>
  </div>
  <!-- Second Banner -->
