<!-- The main picture -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1499796683658-b659bc751db1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80); height:80vh; background-position:center;">
  <div class="changedcontainer">
    <h1 style="color:white; padding-top:70px; margin-left:50px; font-size:65px;">Our app brings <strong>local flats</strong> to <strong>travelers and cool people</strong></h1>
    <p style="color:white; font-size:30px; padding-top:60px; margin-left:50px;">Change your life by taking part in a <em> local experience.</em> ✈️ </p>
    <p style="color:white; font-size:30px; padding-top:60px; margin-left:50px;">Start Looking for flats below.</p>
    <form action= <%= flats_path %> method = "GET" style="margin-left:45px; padding-top:60px; border-radius:50px; font-size:1rem; line-height:30px;">
      <label for="search city"></label><br>
      <input type="text" id="city" name="city" value="" placeholder="search for a city" style="padding:10px 55px; border-radius:10px; font-weight:lighter;">
      <input type="submit" value="Search" class="btn btn-light" style="line-height:22px; padding:15px 95px; border-radius:35px; font-weight:bolder; color:black; background-color:white; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
    </form>
  </div>
</div>
