

<!-- The Nav Bar ends -->

<!-- The Search bar in the middle of page -->
<a class="btn btn-flat" href="#">Book now</a>



<!-- The main picture -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551927411-95e412943b58?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1498&q=80); height:80vh; background-position:center; d:cover;">
  <div class="container" style="display:relative;">
    <h1 style="color:white; d:absolute; position-left:300;">Our app brings <strong>local flats</strong> to <strong>travelers and cool people</strong>!</h1>
    <p style="color:gray; ">Change your life by taking part in a local experience</p>
    <a style="color:gray;" class="btn btn-flat" href="#">Start Looking for flats now</a>
  </div>
</div>

<!-- ends here -->
