<!-- The main picture -->

  <!-- Site Banner -->
  <main class="mt-10 px-4 md:mt-16">
    <div class="sm:text-center">
      <h1 class="tracking-tight font-extrabold text-4xl sm:text-5xl md:text-6xl">
          <span class="block">Miami Luxury Homes</span>
          <span class="block text-green-500">Find Your Dream Home</span>
      </h1>
      <p class="mt-3 text-gray-500 md:text-xl md:mt-5 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto">
        At Miami Luxury Homes, we ensure that ur clients get the best properties at any budget. Luxury is our priority.
        Pick and choose from the most luxurious homes Miami has to offer.</p>
      <div class="mt-5 sm:mt-8 sm:flex sm:justify-center">
        <div class="md:m-2">
          <a class="flex justify-center rounded-md bg-green-500 text-white px-8 py-3" href="">View homes</a>
        </div>
        <div class="md:m-2">
          <a class="flex justify-center rounded-md bg-green-100 text-green-700 px-8 py-3" href="">Explore Miami's Neighborhoods</a>
        </div>
      </div>
    </div>
  </main>
  <!-- Site Banner -->
