.rent-flats {
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1469796466635-455ede028aca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80);
  background-size: cover;
  opacity: 0.7;
  background-repeat: no-repeat;
  // height: 100vh;
}

.drone-cards {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px;
}

.drone-cards img {
  width: 100%;
  object-fit: cover;
}

.drone-cards-info {
  padding-bottom: 15px;
  margin-left: 10px;
  padding: 16px;
}

// .container {
//   display: flex;
//   justify-content: center;
// }
